<div align="center" class="container mt-5">
    <div class="parent-div-manage">
        <br/>
        <div class="child-div-manage">
            <h2 style="text-align: left; margin-left: 40px; color: white;">Gestión de empresas</h2>
            <p style="text-align: left; margin-left: 40px; color: white; font-size: 11px;">Agrega, edita o elimina número de empresas</p>
            <button class="addButton" routerLink="/create-company">Agregar</button>
        </div>
        <table *ngIf="companys.length > 0" class="table table-striped table-hover mt-5" style="color: #5C258D; border-collapse:separate; border-spacing:0px 15px;">
            <thead>
              <tr>
                <th>N°</th>
                <th>Estado</th>
                <th>Nombre</th>
                <th>E-mail</th>
                <th>NIT</th>
                <th>Opciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let company of companys, let i = index" style="margin-top: 20px;">
                <td>{{ i + 1 }}.</td>
                <td>{{ company.estado }}</td>
                <td>{{ company.nombre }}</td>
                <td>{{ company.correo }}</td>
                <td>{{ company.nit }}</td>
                <td>
                    <i class="fas fa-edit" style="margin-right: 35px; cursor: pointer;" [routerLink]="['/edit-company/', company.id]"></i>
                    <i (click)="eliminarCompany(company.id)" class="fas fa-trash-alt" style="cursor: pointer;"></i>
                </td>
              </tr>
            </tbody>
        </table>
    </div>
</div>
